<h2><%= @post.title %></h2>
<h2>
  Content: <%= @post.content %>
</h2>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>
